@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(var(--foreground-rgb));
    background-color: black;
  }
}

/* This targets all input fields */
input[type="text"], textarea {
  background-color: #ffffff; /* White background */
  color: #333333; /* Dark text color */
  padding: 10px; /* Padding around text */
  font-size: 16px; /* Default font size */
  border: 1px solid #ccc; /* A border to make it more distinguishable */
}

/* Responsive design: Increase font size for mobile devices */
@media (max-width: 768px) {
  input[type="text"], textarea {
    font-size: 18px;
  }
}

/* If using dark mode, ensure the text is still visible */
@media (prefers-color-scheme: dark) {
  input[type="text"], textarea {
    background-color: #333333; /* Dark background for dark mode */
    color: #ffffff; /* White text for dark mode */
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #8AE5F6;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
